<% layout('admin/layouts/main') -%>
<section class="content">
    <% if (typeof flash !== 'undefined'){ %>
    <% for(let prop in flash) { %>
    <div class="alert text-center alert-<%= prop %>">
        <% flash[prop].forEach((err) => { %>
        <%= err %>
        <% })%>
    </div>
    <% } %>
    <% } %>
</section>