<!DOCTYPE html>
<html lang="en">

<head>
    <% include common/head %>
</head>
<style>
    .section-heading{
        margin-bottom: 45px !important;
    }
    .post-data{
        margin-bottom: 35px !important;
    }
    .fixed-200-height {
        height: 200px !important;
        overflow: hidden;
    }
</style>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <% include common/top-header %>
        <% include common/navbar %>
    </header>
    <!-- ##### Header Area End ##### -->

    <% include common/hero-area %>

    <!-- ##### Featured Post Area Start ##### -->
    <div class="featured-post-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="row">

                        <!-- Single Featured Post -->
                        <div class="col-12 col-lg-7">
                            <div class="single-blog-post featured-post">
                                <div class="post-thumb">
                                    <a href="/post/<%= newArticles[0].url %>">
                                        <img src="<%= newArticles[0].cover != 'Invalid file' ? newArticles[0].cover : 'img/bg-img/plain-image.png' %>" alt="">
                                    </a>
                                </div>
                                <div class="post-data">
                                    <a  class="post-category">
                                        <%= newArticles[0].category.name %></a>
                                    <a href="/post/<%= newArticles[0].url %>" class="post-title">
                                        <h6>
                                            <%= newArticles[0].title %>
                                        </h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-author">Đăng bởi
                                            <a href="#">
                                                <%= newArticles[0].author.fullname %></a>
                                        </p>
                                        <p class="font-italic">
                                            <%= getTime(newArticles[0].createdAt) %></a>
                                        </p>
                                        <p class="post-excerp">
                                            <!-- <%- newArticles[0].content.slice(0,newArticles[0].content.indexOf('pagebreak')) %> -->
                                            <%= newArticles[0].description %>
                                        </p>
                                        <p class="post-excerp">
                                            <!-- <%-getLim(newArticles[0].content) %>... -->
                                        </p>
                                        <!-- Post Like & Post Comment -->
                                        <!-- <div class="d-flex align-items-center">
                                            <a href="#" class="post-like">
                                                <img src="img/core-img/like.png" alt="">
                                                <span>392</span>
                                            </a>
                                            <a href="#" class="post-comment">
                                                <img src="img/core-img/chat.png" alt="">
                                                <span>10</span>
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <!-- Single Featured Post -->
                            <div class="single-blog-post featured-post-2">
                                <div class="post-thumb">
                                    <a href="/post/<%= newArticles[1].url %>">
                                        <img src="<%= newArticles[1].cover != 'Invalid file' ? newArticles[1].cover : 'img/bg-img/plain-image.png' %>" alt="">
                                    </a>
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-category">
                                        <%= newArticles[1].category.name %></a>
                                    <div class="post-meta">
                                        <a href="/post/<%= newArticles[1].url %>" class="post-title">
                                            <h6>
                                                <%= newArticles[1].title %>
                                            </h6>
                                        </a>
                                        <p class="font-italic">
                                            <%= getTime(newArticles[1].createdAt) %></a>
                                        </p>
                                        <!-- Post Like & Post Comment -->
                                        <!-- <div class="d-flex align-items-center">
                                            <a href="#" class="post-like">
                                                <img src="img/core-img/like.png" alt="">
                                                <span>392</span>
                                            </a>
                                            <a href="#" class="post-comment">
                                                <img src="img/core-img/chat.png" alt="">
                                                <span>10</span>
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>

                            <!-- Single Featured Post -->
                            <div class="single-blog-post featured-post-2">
                                <div class="post-thumb">
                                    <a href="/post/<%= newArticles[2].url %>">
                                        <img src="<%= newArticles[2].cover != 'Invalid file' ? newArticles[2].cover : 'img/bg-img/plain-image.png' %>" alt="">
                                    </a>
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-category">
                                        <%= newArticles[2].category.name %>
                                    </a>
                                    <div class="post-meta">
                                        <a href="" class="post-title">
                                            <h6>
                                                <%= newArticles[2].title %>
                                            </h6>
                                        </a>
                                        <p class="font-italic">
                                            <%= getTime(newArticles[2].createdAt) %>
                                        </a>
                                        </p>
                                        <!-- Post Like & Post Comment -->
                                        <!-- <div class="d-flex align-items-center">
                                            <a href="#" class="post-like">
                                                <img src="img/core-img/like.png" alt="">
                                                <span>392</span>
                                            </a>
                                            <a href="#" class="post-comment">
                                                <img src="img/core-img/chat.png" alt="">
                                                <span>10</span>
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <% sidebarArticles1.forEach(e=>{ %>
                    <!-- Single Featured Post -->
                    <div class="single-blog-post small-featured-post d-flex">
                        <div class="post-thumb">
                            <a href="/post/<%= e.url %>">
                                <img src="<%= e.cover != 'Invalid file' ?  e.cover : 'img/bg-img/plain-image.png' %>" alt="">
                            </a>
                        </div>
                        <div class="post-data">
                            <a href="#" class="post-category">
                                <%= e.category.name %></a>
                            <div class="post-meta">
                                <a href="/post/<%= e.url %>" class="post-title">
                                    <h6>
                                        <%= e.title %>
                                    </h6>
                                </a>
                                <p class="post-date">
                                    <%= getTimeDetail(e.createdAt)%>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Featured Post Area End ##### -->

    <!-- ##### Popular News Area Start ##### -->
    <div class="popular-news-area section-padding-80-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="section-heading">
                        <h6>Tin tức nổi bật</h6>
                    </div>

                    <div class="row">
                        <% breakingNews.forEach(e=>{ %>
                        <!-- Single Post -->
                        <div class="col-12 col-md-6">
                            <div class="single-blog-post style-3">
                                <div class="post-thumb fixed-200-height">
                                    <a href="/post/<%= e.url %>">
                                        <img src="<%= e.cover != 'Invalid file' ?  e.cover : 'img/bg-img/plain-image.png' %>" alt="">
                                    </a>
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-category">
                                        <%= e.category.name %></a>
                                    <a href="/post/<%= e.url %>" class="post-title">
                                        <h6>
                                            <%= e.title %>
                                        </h6>
                                    </a>
                                    <div class="post-meta">
                                        <p>
                                            <%= getTime(e.createdAt) %></a>
                                        </p>
                                    </div>
                                    <!-- <div class="post-meta d-flex align-items-center">
                                        <a href="#" class="post-like">
                                            <img src="img/core-img/like.png" alt="">
                                            <span>392</span>
                                        </a>
                                        <a href="#" class="post-comment">
                                            <img src="img/core-img/chat.png" alt="">
                                            <span>10</span>
                                        </a>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <% })%>


                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="section-heading">
                        <h6>Thông tin</h6>
                    </div>
                    <!-- Popular News Widget -->
                    <div class="popular-news-widget mb-30">
                        <h3>Tin được xem nhiều</h3>

                        <% popularArticles.forEach((e,index) =>{ %>
                        <!-- Single Popular Blog -->
                        <div class="single-popular-post">
                            <a href="/post/<%= e.url %>">
                                <h6>
                                    <span>
                                        <%= index+1 %>.</span>
                                    <%= e.title%>
                                </h6>
                            </a>
                            <p>
                                <%= getTimeDetail(e.createdAt) %>
                            </p>
                        </div>
                        <% }) %>



                        <!-- Newsletter Widget -->
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Popular News Area End ##### -->

        <!-- ##### Video Post Area Start ##### -->
        <div class="video-post-area bg-img bg-overlay" style="background-image: url(img/bg-img/bg1.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- Single Video Post -->
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="single-video-post">
                            <img src="img/bg-img/video1.jpg" alt="">
                            <!-- Video Button -->
                            <div class="videobtn">
                                <a href="https://www.youtube.com/watch?v=5BQr-j3BBzU" class="videoPlayer">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Video Post -->
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="single-video-post">
                            <img src="img/bg-img/video2.jpg" alt="">
                            <!-- Video Button -->
                            <div class="videobtn">
                                <a href="https://www.youtube.com/watch?v=5BQr-j3BBzU" class="videoPlayer">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Video Post -->
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="single-video-post">
                            <img src="img/bg-img/video3.jpg" alt="">
                            <!-- Video Button -->
                            <div class="videobtn">
                                <a href="https://www.youtube.com/watch?v=5BQr-j3BBzU" class="videoPlayer">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Video Post Area End ##### -->

        <!-- ##### Editorial Post Area Start ##### -->
        <div class="editors-pick-post-area section-padding-80-50">
            <div class="container">
                <div class="row">
                    <!-- Editors Pick -->
                    
                    <div class="col-12 col-md-7 col-lg-9">
                        <div class="section-heading">
                            <a href="/<%= category[0].url %>"><h6><%= category[0].name %></h6></a>
                        </div>

                        <div class="row">
                            <% selectedArticles.forEach(e=>{ %>
                            <div class="col-12 col-lg-4">
                                <div class="single-blog-post">
                                    <div class="post-thumb">
                                        <a href="/post/<%= e.url %>">
                                            <img src="<%= e.cover != 'Invalid file' ?  e.cover : 'img/bg-img/plain-image.png' %>">
                                        </a>
                                    </div>
                                    <div class="post-data">
                                        <a href="/post/<%= e.url %>" class="post-title">
                                            <h6>
                                                <%= e.title %>
                                            </h6>
                                        </a>
                                        <div class="post-meta">
                                            <div class="post-date">
                                                <a href="#">
                                                    <%= getTime(e.createdAt) %></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% })%>
                        </div>
                        
                        <div class="section-heading">
                            <a href="/<%= category[3].url %>"><h6><%= category[4].name %></h6></a>
                        </div>

                        <div class="row">
                            <% selected1Articles.forEach(e=>{ %>
                            <!-- Single Post -->
                            <div class="col-12 col-lg-4">
                                <div class="single-blog-post">
                                    <div class="post-thumb">
                                        <a href="/post/<%= e.url %>">
                                            <img src="<%= e.cover != 'Invalid file' ?  e.cover : 'img/bg-img/plain-image.png'%>" alt="">
                                        </a>
                                    </div>
                                    <div class="post-data">
                                        <a href="/post/<%= e.url %>" class="post-title">
                                            <h6>
                                                <%= e.title %>
                                            </h6>
                                        </a>
                                        <div class="post-meta">
                                            <div class="post-date">
                                                <a href="#">
                                                    <%= getTime(e.createdAt) %></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% })%>
                        </div>

                        <div class="section-heading">
                            <a href="/<%= category[1].url %>"><h6><%= category[1].name %></h6></a>
                        </div>

                        <div class="row">
                            <% selected2Articles.forEach(e=>{ %>
                            <!-- Single Post -->
                            <div class="col-12 col-lg-4">
                                <div class="single-blog-post">
                                    <div class="post-thumb">
                                        <a href="/post/<%= e.url %>">
                                            <img src="<%= e.cover != 'Invalid file' ?  e.cover : 'img/bg-img/plain-image.png' %>" alt="">
                                        </a>
                                    </div>
                                    <div class="post-data">
                                        <a href="/post/<%= e.url %>" class="post-title">
                                            <h6>
                                                <%= e.title %>
                                            </h6>
                                        </a>
                                        <div class="post-meta">
                                            <div class="post-date">
                                                <a href="#">
                                                    <%= getTime(e.createdAt) %></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% })%>
                        </div>
                    </div>
                    
                    <!-- World News -->
                    <div class="col-12 col-md-5 col-lg-3">
                        <div class="section-heading">
                            <h6>Dành cho bạn</h6>
                        </div>
                        <% sidebarArticles2.forEach(e=>{ %>
                        <!-- Single Post -->
                        <div class="single-blog-post style-2">
                            <div class="post-thumb">
                                <a href="/post/<%= e.url %>">
                                    <img src="<%= e.cover != 'Invalid file' ?  e.cover : 'img/bg-img/plain-image.png' %>" alt="">
                                </a>
                            </div>
                            <div class="post-data">
                                <a href="/post/<%= e.url %>" class="post-title">
                                    <h6><%= e.title %></h6>
                                </a>
                                <div class="post-meta">
                                    <div class="post-date">
                                        <a href="#"><%= getTimeDetail(e.createdAt) %></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                            
                        <% })%>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Editorial Post Area End ##### -->
        <!-- ##### Footer Add Area Start ##### -->
        <div class="footer-add-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-add">
                            <a href="#">
                                <img src="img/bg-img/footer-add.gif" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Footer Add Area End ##### -->

        <% include common/footer %>

        <% include common/scripts %>
</body>

</html>