<!DOCTYPE html>
<html lang="en">

<head>
    <% include common/head %>
</head>


<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <% include common/top-header %>
            <% include common/navbar %>
    </header>
    <!-- ##### Header Area End ##### -->

    <% include common/hero-area %>

        <!-- ##### Blog Area Start ##### -->
        <div class="blog-area section-padding-0-80">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="blog-posts-area">
                            <!-- <%= article.tags.name %> -->
                            <!-- Single Featured Post -->
                            <div class="single-blog-post featured-post single-post">
                                <div class="post-data">
                                    <a class="post-category"><%= article.category.name %></a>
                                    <a class="post-title">
                                        <h6><%= article.title %></h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-author">By
                                            <a><%= article.author.fullname %></a>
                                        </p>
                                        <%- article.content %>
                                        <div class="newspaper-post-like d-flex align-items-center justify-content-between">
                                            <!-- Tags -->
                                            <div class="newspaper-tags d-flex">
                                                <span style="align-self: center;">Tags: </span>
                                                <div style="flex-direction: row; justify-content: space-between;">
                                                    <% article.tags.forEach(e=>{ %>
                                                        <a class="btn btn-sm btn-dark"><p style="color: white; margin-bottom: 0;"><%= e.name %></p></a>
                                                    <% })%>
                                                </div>
                                            </div>

                                            <!-- Post Like & Post Comment -->
                                            <!-- <div class="d-flex align-items-center post-like--comments">
                                                <a href="#" class="post-like">
                                                    <img src="img/core-img/like.png" alt="">
                                                    <span>392</span>
                                                </a>
                                                <a href="#" class="post-comment">
                                                    <img src="img/core-img/chat.png" alt="">
                                                    <span>10</span>
                                                </a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-heading">
                                <h6>Related</h6>
                            </div>

                            <div class="row">
                               
                                <% relatedPost.forEach(r => { %>
                                      <!-- Single Post -->
                                    <div class="col-12 col-md-6">
                                        <div class="single-blog-post style-3 mb-80">
                                            <div class="post-thumb">
                                                <a href="/post/<%= r.url %>">
                                                    <img src="<%=r.cover != 'Invalid file' ?  r.cover : 'img/bg-img/plain-image.png'%>" alt="">
                                                </a>
                                            </div>
                                            <div class="post-data">
                                                <a href="/<%= r.category.url %>" class="post-category"><%=r.category.name%></a>
                                                <a href="/post/<%= r.url %>" class="post-title">
                                                    <h6><%=r.title%></h6>
                                                </a>
                                                <!-- <div class="post-meta d-flex align-items-center">
                                                    <a href="#" class="post-like">
                                                        <img src="img/core-img/like.png" alt="">
                                                        <span>392</span>
                                                    </a>
                                                    <a href="#" class="post-comment">
                                                        <img src="img/core-img/chat.png" alt="">
                                                        <span>10</span>
                                                    </a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                              
                                <%})%>
                                
                            </div>

                            <!-- Comment Area Start -->
                            <div class="fb-comments" data-href="https://localhost:3000/posts/<%=article.url%>" data-numposts="5"></div>
                            
                            <div class="post-a-comment-area section-padding-80-0">
                              
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="blog-sidebar-area">

                            <!-- Latest Posts Widget -->
                            <div class="latest-posts-widget mb-50">

                                    <% sidebarArticles1.forEach(e=>{ %>
                                        <!-- Single Featured Post -->
                                        <div class="single-blog-post small-featured-post d-flex">
                                            <div class="post-thumb">
                                                <a href="/post/<%= e.url %>">
                                                    <img src="<%= e.cover != 'Invalid file' ?  e.cover : 'img/bg-img/plain-image.png' %>" alt="">
                                                </a>
                                            </div>
                                            <div class="post-data">
                                                <a href="#" class="post-category">
                                                    <%= e.category.name %></a>
                                                <div class="post-meta">
                                                    <a href="/post/<%= e.url %>" class="post-title">
                                                        <h6>
                                                            <%= e.title %>
                                                        </h6>
                                                    </a>
                                                    <p class="post-date">
                                                        <%= getTimeDetail(e.createdAt)%>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                            </div>

                            <!-- Popular News Widget -->
                            <div class="popular-news-widget mb-30">
                                <h3>Tin được xem nhiều</h3>
        
                                <% popularArticles.forEach((e,index) =>{ %>
                                <!-- Single Popular Blog -->
                                <div class="single-popular-post">
                                    <a href="/post/<%= e.url %>">
                                        <h6>
                                            <span>
                                                <%= index+1 %>.</span>
                                            <%= e.title%>
                                        </h6>
                                    </a>
                                    <p>
                                        <%= getTimeDetail(e.createdAt) %>
                                    </p>
                                </div>
                                <% }) %>
                            </div>

                            <!-- Newsletter Widget -->
                            <!-- <div class="newsletter-widget mb-50">
                                <h4>Newsletter</h4>
                                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <form action="#" method="post">
                                    <input type="text" name="text" placeholder="Name">
                                    <input type="email" name="email" placeholder="Email">
                                    <button type="submit" class="btn w-100">Subscribe</button>
                                </form>
                            </div> -->

                            <!-- Latest Comments Widget -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Blog Area End ##### -->

        <% include common/footer %>

        <% include common/scripts %>
</body>

</html>