<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Đăng nhập trang quản lý | S-Tech</title>
  <%- partial('admin/partials/stylesheets') %>
  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css"href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <!-- iCheck -->
  <link rel="stylesheet" type="text/css" href="/public/admin/plugins/iCheck/square/blue.css">
  <!-- Google Font -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="/admin/login"><b>Admin</b>LTE</a>
    </div>

      <%- body %>
      
  </div>

  <%- partial('admin/partials/scripts') %>

  <script src="/public/admin/plugins/iCheck/icheck.min.js"></script>
  <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' /* optional */
      });
    });
  </script>
</body>

</html>