<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang quản lí | S-Tech</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%- block('stylesheets') %>
    <%- partial('admin/partials/stylesheets') %>
    
    

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <%- partial('admin/partials/header') %>
        
  <!-- Left side column. contains the logo and sidebar -->
    <%- partial('admin/partials/sidebar') %>
  

  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <%- body %>
        
    </div>
    <!-- /.content-wrapper -->
    
    <%- partial('admin/partials/footer') %>
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

    <%- partial('admin/partials/scripts') %>
    <%- block('scripts') %>
</body>
</html>
