<%- layout('admin/layouts/login') %>
<div class="login-box-body">
  <h3 class="login-box-msg text-info">Đăng nhập</h3>
  <% if (typeof flash !== 'undefined'){ %>
  <% for(let prop in flash) { %>
  <div class="alert text-center alert-<%= prop %>">
    <% flash[prop].forEach((err) => { %>
    <%= err %>
    <% })%>
  </div>
  <% } %>
  <% } %>
  <p class="text-danger text-center">
    <%= typeof errUsername !== 'undefined' ? errUsername : ''%>
  </p>
  <p class="text-danger text-center">
    <%= typeof errPassword !== 'undefined' ? errPassword : ''%>
  </p>
  <form action="/admin/login" method="post">
    <div class="form-group has-feedback">
      <input type="text" class="form-control" placeholder="Nhập tên đăng nhập hoặc email" name="username" value="<%= typeof username !== 'undefined' ? username : ''%>">
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <input type="password" class="form-control" placeholder="Nhập mật khẩu" name="password">
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div class="checkbox icheck">
          <label>
            <input type="checkbox"> Remember Me
          </label>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
      </div>
      <!-- /.col -->
    </div>
  </form>

  <div class="social-auth-links text-center">
    <p>- OR -</p>
    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fab fa-facebook-f"></i> Sign in using
      Facebook</a>
    <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fab fa-google-plus-g"></i> Sign in using
      Google+</a>
  </div>
  <!-- /.social-auth-links -->

  <a href="/admin/forgotPassword">I forgot my password</a><br>
  <a href="/admin/register" class="text-center">Register a new membership</a>

</div>