<%- layout('admin/layouts/main') %>
<section class="content-header">
    <h1>
        Chỉnh sửa thông tin người dùng
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
    <% if (typeof flash !== 'undefined'){ %>
    <% for(let prop in flash) { %>
    <div class="alert text-center alert-<%= prop %>">
        <% flash[prop].forEach((err) => { %>
        <%= err %>
        <% })%>
    </div>
    <% } %>
    <% } %>
    <!-- Main content -->
    <div class="col-sm-offset-1">
        <div class="col-sm-3">
            <ul class="nav nav-stacked">
                <li class="<%= active === 'profile' ? 'active':'' %>"><a href="#profile" data-toggle="tab">Cập nhật hồ
                        sơ</a></li>
                <li class="<%= active === 'password' ? 'active':'' %>"><a href="#password" data-toggle="tab">Đổi mật
                        khẩu</a></li>
            </ul>
        </div>
        <!-- Tab Pane -->
        <div class="tab-content col-sm-8">
            <div class="<%= active === 'profile' ? 'active':'' %> tab-pane" id="profile">
                <form class="form-horizontal" action="/admin/profile/edit" method="POST">
                    <div class="form-group">
                        <label for="Avatar" class="col-md-3 control-label">Ảnh đại diện</label>
                        <div class="col-md-2">
                            <img class="profile-user-img img-circle" src="<%= typeof avatar !== 'undefined' ? avatar : '' %>"
                                alt="User profile picture">
                        </div>
                        <div class="col-md-7">
                            <input type="url" class="form-control" name="avatar" id="Avatar" placeholder="Nhập link ảnh"
                                value="<%= typeof avatar !== 'undefined' ? avatar : '' %>">
                            <p class="text-danger text-center" style="position: relative;top: 10px;">
                                <%= typeof errAvatar !== 'undefined' ? errAvatar : ''%>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Fullname" class="col-sm-2 control-label">Họ tên</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="fullname" id="Fullname" placeholder="Nhập họ tên"
                                value="<%= typeof fullname !== 'undefined' ? fullname : '' %>">
                            <p class="text-danger text-center" style="position: relative;top: 10px;">
                                <%= typeof errFullname !== 'undefined' ? errFullname : ''%>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="email" id="email" placeholder="Nhập email"
                                value="<%= typeof email !== 'undefined' ? email : '' %>">
                            <p class="text-danger text-center" style="position: relative;top: 10px;">
                                <%= typeof errEmail !== 'undefined' ? errEmail : ''%>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNum" class="col-sm-2 control-label">SĐT</label>

                        <div class="col-sm-10">
                            <input type="tel" class="form-control" name="phoneNumber" id="phoneNum" placeholder="Nhập số điện thoại"
                                value="<%= typeof phoneNumber !== 'undefined' ? phoneNumber : '' %>">
                            <p class="text-danger text-center" style="position: relative;top: 10px;">
                                <%= typeof errPhoneNumber !== 'undefined' ? errPhoneNumber : ''%>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success mr-2">Cập nhật</button>
                            <a href="javascript:history.back()" class="btn btn-danger">Hủy bỏ</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="<%= active === 'password' ? 'active':'' %> tab-pane" id="password">
                <form class="form-horizontal" action="/admin/profile/change-password" method="POST">
                    <div class="form-group">
                        <label for="oldPassword" class="col-sm-3 control-label">Mật khẩu cũ</label>
                        <div class="col-sm-9">
                            <input type="password" name="oldPassword" class="form-control" placeholder="Nhập mật khẩu cũ"
                                id="oldPassword">
                            <p class="text-danger text-center" style="position: relative;top: 10px;">
                                <%= typeof errOldPassword !== 'undefined' ? errOldPassword : ''%>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="col-sm-3 control-label">Mật khẩu mới</label>
                        <div class="col-sm-9">
                            <input type="password" name="password" class="form-control" placeholder="Nhập mật khẩu mới"
                                id="newPassword">
                            <p class="text-danger text-center" style="position: relative;top: 10px;">
                                <%= typeof errPassword !== 'undefined' ? errPassword : ''%>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="reNew" class="col-sm-3 control-label">Xác nhận mật khẩu</label>
                        <div class="col-sm-9">
                            <input type="password" name="passwordConfirm" class="form-control" placeholder="Nhập lại mật khẩu"
                                id="reNew">
                            <p class="text-danger text-center" style="position: relative;top: 10px;">
                                <%= typeof errPasswordConfirm !== 'undefined' ? errPasswordConfirm : ''%>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-success">Cập nhật</button>
                            <a href="javascript:history.back()" class="btn btn-danger">Hủy bỏ</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <!-- /.tab-pane -->
    </div>
</section>