<% layout ('admin/layouts/main') %>
<% block('stylesheets').append(`<link rel="stylesheet" href="/public/admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css">`) %>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Tất cả bài đăng</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <% if (typeof flash !== 'undefined'){ %>
                <% for(let prop in flash) { %>
                <div class="alert text-center alert-<%= prop %>">
                    <% flash[prop].forEach((err) => { %>
                    <%= err %>
                    <% })%>
                </div>
                <% } %>
                <% } %>
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tiêu đề</th>
                            <th>Mô tả</th>
                            <th>Chuyên mục</th>
                            <th>Tag</th>
                            <th>Ngày thêm</th>
                            <th>Ngày sửa</th>
                            <th>Tác giả</th>
                            <th>Lượt xem</th>
                            <th>Công cụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% posts.forEach((e,index) => { %>
                        <tr>
                            <td>
                                <%= index+1 %>
                            </td>
                            <td>
                                <%= e.title %>
                            </td>
                            <td>
                                <%= e.description  %>
                            </td>
                            <td>
                                <%= e.category.name %>
                            </td>
                            <td>
                                <% e.tags.forEach((val)=>{ %>
                                <span class="btn btn-sm btn-primary">
                                    <%= val.name %></span>
                                <% }) %>
                            </td>
                            <td>
                                <%= getTimeDetail(e.createdAt) %>
                            </td>
                            <td>
                                <%= getTimeDetail(e.updatedAt) %>
                            </td>
                            <td>
                                <%= e.author.fullname %>
                            </td>
                            <td>
                                <%= e.views %>
                            </td>
                            <td>
                                <% if (cUser.role === 'admin' || cUser.role === 'manager') { %>
                                    <a href="/post/<%= e.url %>" class="btn btn-primary btn-xs" target="_blank">
                                        <i class="fa fa-folder"></i> Xem </a>
                                    <a href="/admin/post/edit/<%= e._id %>" class="btn btn-info btn-xs">
                                        <i class="fa fa-pencil"></i> Sửa </a>
                                    <button data-id="<%= e._id %>" type="button" class="btn btn-danger btn-xs deletePost">
                                        <i class="fa fa-trash-o"></i> Xoá </button>
                                <% } else { %>
                                    <a href="/post/<%= e.url %>" class="btn btn-primary btn-xs" target="_blank">
                                        <i class="fa fa-folder"></i> View </a>
                                <% } %>
                                
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>

                </table>
                <div class="row card-footer clearfix">
                    <%- pagination %>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->


<% block('scripts').append(`
<script src="/public/admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging': false,
      'lengthChange': false,
      'searching': false,
      'ordering': true,
      'info': true,
      'autoWidth': false
    })
  })
</script>
`) -%>