<% layout('admin/layouts/main') -%>

<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"><small>Chỉnh sửa chuyên mục</small></h3><br>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" action="/admin/category/edit/<%= id%>" method="post">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên chuyên mục</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Nhập tên chuyên mục" name="name"
                            value="<%= typeof name !== 'undefined' ? name : '' %>">
                            <p class="text-danger" style="position: relative;top:10px;">
                                    <%= typeof errName !== 'undefined' ? errName : ''%>
                            </p>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull">Cập nhật</button>
                <a href="javascript:history.back()" class="btn btn-danger">Hủy bỏ</a>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        if($('#level1').val() !== '0'){
            $('#parentId').show();
            $('#level2').show();
        }
        $('#level1').change(function () {
            $('#level2 option[value!="0"] ').remove()
            let id = $(this).val();
            if (id == "0") {
                $('#parentId').hide();
                $('#level2').hide();
            } else {
                $('#parentId').show();
                $('#level2').show();
                $.ajax({
                    type: "post",
                    url: "/admin/category/postAjax",
                    data: {
                        parentId: id
                    },
                    dataType: "json",
                    success: function (response) {
                        response.forEach(element => {
                            $('#level2').append('<option value="' + element._id +
                                '">' + element.name + '</option>');
                        });
                    }
                });
            }
        })
    });
</script>