<base href="/public/client/" target="_self">
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Title -->
<title>S-Tech | Trang tin tức hàng đầu về công nghệ</title>

<!-- Favicon -->
<link rel="icon" href="/public/client/img/core-img/favicon.ico">

<!-- Core Stylesheet -->
<link rel="stylesheet" href="/public/client/style.css">