<!-- Navbar Area -->
<div class="newspaper-main-menu" id="stickyMenu">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="newspaperNav">

                <!-- Logo -->
                <div class="logo">
                    <a href="/">
                        <img src="img/core-img/logo.png" alt="">
                    </a>
                </div>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap">
                            <span class="top"></span>
                            <span class="bottom"></span>
                        </div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li <% if(cateName === 'Trang chủ'){ %> class="active" <% } %> >
                                <a href="/">Trang chủ</a>
                            </li>
                            <% category.forEach( c => { %>
                            <li <% if(cateName === c.name){ %> class="active" <% } %> >
                                <a href="/<%=c.url%>">
                                    <%=c.name%></a>
                                <% if(c.child.length > 0) { %>
                                <ul class="dropdown">
                                    <% c.child.forEach ( c1 => {%>
                                    <li>
                                        <a href="/<%=c1.url%>">
                                            <%=c1.name%></a>
                                        <% if(c1.child.length > 0) { %>
                                        <ul class="dropdown">
                                            <% c1.child.forEach ( c2 => {%>
                                            <li>
                                                <a href="/<%=c2.url%>">
                                                    <%=c2.name%></a>
                                            </li>
                                            <% }) %>
                                        </ul>
                                        <% }%>
                                    </li>
                                    <% }) %>
                                </ul>

                                <% }%>
                            </li>

                            <%})%>
                            <li>
                                <a href="/">Về chúng tôi</a>
                            </li>
                            <li>
                                <a href="/">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</div>