<% layout('admin/layouts/main') %>

<div class="card content">
    <div class="card-body">
        <h4 class="card-title"> Thêm tag</h4>
        
        <form class="forms-sample" action="/admin/tag/edit/<%= id %>" method="post">
            <div class="form-group">
                <label for="name">Nhập tên tag</label>
                <input type="text" class="form-control" name="name" id="name" value="<%= typeof name !== 'undefined' ? name : ''%>" >
                <p class="text-danger"><%= typeof errName !== 'undefined' ? errName : ''%></p>
            </div>
            <div class="form-group">
                <label for="author">Tác giả</label>
                <input type="text" class="form-control" value="<%= cUser.fullname%>" disabled>
                <input type="hidden" class="form-control" name="author" id="author" value="<%= cUser.id %>">
            </div>
            <button type="submit" class="btn btn-success mr-2">Cập nhật</button>
            <a href="javascript:history.back()" class="btn btn-danger">Hủy bỏ</a>
        </form>
    </div>
</div>